body {
  font-family: 'EB Garamond', serif;;
  background: #1c1206;
  color: white;
  font-size: 20px;
}

h1 {
  font-size: 60px;
  color:#1A1410;
  text-align: center;
}

h2 {
  color:#462410;
  text-align: center;
}

p {
  color: #1A1410;
  font-size: 17px;
}


.layout {
  display: flex;
  gap: 30px;
  width: 100vw;
  min-height: 100vh;
}

.sidebar {
  border: 20px solid transparent;
  border-image-source: url('images/sidebar.PNG');
  border-image-slice: 60 fill;
  border-image-width: 20px;
  border-image-repeat: stretch;
  color: white;
  width: 250px;
  flex-shrink: 0;
  margin-bottom: 70px;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.content {
  border: px solid transparent;
  border-image-source: url('images/parchment.PNG');
  border-image-slice: 26 fill;
  border-image-width: 8px;
  border-image-repeat: stretch;
  flex-grow: 1;
  margin-top: 130px;
  margin-bottom: 70px;
  margin-right: 50px;
  padding: 40px;
}

nav a {
  display:block;
  padding: 5px;
  color: #e8dcc0;
  text-decoration: none;
}

nav a:hover {
  background-image: url('images/navboxhover.PNG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #e8dcc0;
}

nav a.current {
  background-image: url('images/navbox.PNG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #e8dcc0;
}

nav a img {
  width: 32px;
  height: 32px;
  vertical-align: -8px;
  margin-right: 8px;
  image-rendering: pixelated;
}


.content img {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo img {
  max-width: 55%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.divider {
  width: 90%;
  height: auto;
  display: block;
  margin: 10px auto;
  image-rendering: pixelated;
}

.studio-desk {
  border: 9px solid transparent;
  border-image-source: url('images/small-parchment.png');
  border-image-slice: 9 fill;
  border-image-width: 9px
  border-image-repeat: stretch;
  image-rendering: pixelated;
  color: #1A1410;
  padding: 15px;
  margin: 15px;
  font-size: 15px
}

.content-bar {
  display: block;
  width: 25%;
  height: auto;
  image-rendering: pixelated;
}

img.content-divider {
  display: block;
  width: calc(100% + 80px);
  max-width: none;
  height: auto;
  margin: 15px -40px;
  image-rendering: pixelated;
}

.welcome {
  display: flex;
  align-items: center;
  gap: 30px;
}

.welcome-text {
  flex: 1;
  text-align: left;
}

.welcome-salix {
  width: 550px;
  max-width: 550px
  height: auto;
  flex-shrink: 0;
  margin: 0;
}

.welcome-text h1,
.welcome-text h2 {
  text-align: left;
}

.construction-gif {
  display: block;
  width: 250px;
  max-width: 300px;
  height: auto;
  margin: 0auto;
}
