body {
  font-family: system-ui;
  background: #1c1206;
  color: white;
}

h1 {
  color:#1A1410;
}

p {
  color: #1A1410;
}


.layout {
  display: flex;
  gap: 30px;
  width: 100vw;
  min-height: 100vh;
}

.sidebar {
  border: 20px solid transparent;
  border-image-source: url('images/sidebar.PNG');
  border-image-slice: 60 fill;
  border-image-width: 20px;
  border-image-repeat: stretch;
  color: white;
  width: 250px;
  flex-shrink: 0;
  margin-bottom: 70px;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.content {
  border: px solid transparent;
  border-image-source: url('images/parchment.PNG');
  border-image-slice: 26 fill;
  border-image-width: 8px;
  border-image-repeat: stretch;
  flex-grow: 1;
  margin-top: 130px;
  margin-bottom: 70px;
  margin-right: 50px;
}

nav a {
  display:block;
  padding: 15px;
  color: #e8dcc0;
  text-decoration: none;
}

nav a:hover {
  background-image: url('images/navbox.PNG');
  background-size: 100% 100%;
  background repeat: no-repeat;
  color: #e8dcc0;
}

nav a:current {
  background-image: url('images/navbox.PNG');
  background-size: 100% 100%;
  background repeat: no-repeat;
  color: #e8dcc0;
}


.content img {
  max-width: 100%;
  height: auto;
}

.logo img {
  max-width: 70%;
  height: auto;
  display: block;
}
